# Assignment  - IPL Data set

In [67]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
ipl = pd.read_csv("IPL_Dataset.csv")

In [6]:
ipl

,POS,Player,Mat,Inns,NO,Runs,HS,Avg,BF,SR,100,50,4s,6s
0,1,KL Rahul,14,14,2,670,132*,55.83,518,129.34,1,5,58,23
1,2,Shikhar Dhawan,17,17,3,618,106*,44.14,427,144.73,2,4,67,12
2,3,David Warner,16,16,2,548,85*,39.14,407,134.64,0,4,52,14
3,4,Shreyas Iyer,17,17,2,519,88*,34.60,421,123.27,0,3,40,16
4,5,Ishan Kishan,14,13,4,516,99,57.33,354,145.76,0,4,36,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,129,Khaleel Ahmed,7,1,0,0,0*,0.00,2,0.00,0,0,0,0
129,130,Arshdeep Singh,8,1,0,0,0*,0.00,3,0.00,0,0,0,0
130,131,Daniel Sams,3,1,0,0,0*,0.00,2,0.00,0,0,0,0
131,132,Shreevats Goswami,2,2,0,0,0*,0.00,4,0.00,0,0,0,0
132,133,Trent Boult,15,1,0,0,0*,0.00,1,0.00,0,0,0,0

In [8]:
ipl.describe()

,POS,Mat,Inns,NO,Runs,Avg,BF,SR,100,50,4s,6s
count,133.00000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000,133.000000
mean,67.00000,9.631579,6.631579,1.616541,139.157895,19.366241,105.714286,107.364737,0.037594,0.827068,11.894737,5.518797
std,38.53786,4.893523,5.030925,1.550766,167.293103,18.053343,122.253870,44.584031,0.227170,1.351269,15.521375,7.393283
min,1.00000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,34.00000,5.000000,2.000000,0.000000,10.000000,6.000000,12.000000,88.750000,0.000000,0.000000,0.000000,0.000000
50%,67.00000,10.000000,5.000000,1.000000,59.000000,15.000000,53.000000,116.840000,0.000000,0.000000,5.000000,2.000000
75%,100.00000,14.000000,11.000000,2.000000,232.000000,29.900000,169.000000,137.500000,0.000000,1.000000,20.000000,9.000000
max,133.00000,17.000000,17.000000,7.000000,670.000000,101.000000,518.000000,191.420000,2.000000,5.000000,67.000000,30.000000

In [9]:
ipl.columns

Index(['POS', 'Player', 'Mat', 'Inns', 'NO', 'Runs', 'HS', 'Avg', 'BF', 'SR',
       '100', '50', '4s', '6s'],
      dtype='object')

In [17]:
max_val = ipl['Mat'].max();
max_val

17

Q1. What is the maximum number of matches played by an individual player in a season?

In [43]:
max_val = ipl['Mat'].max();
max_row = ipl[ipl['Mat'] == max_val]
List_Player = max_row[['Player','Mat']]
print("Maximum number of matches played by an individual player in a season =", max_val)
print("List of the players with maximun", max_val, "no of matches")
print(List_Player)

Maximum number of matches played by an individual player in a season = 17
List of the players with maximun 17 no of matches
            Player  Mat
1   Shikhar Dhawan   17
3     Shreyas Iyer   17
19  Marcus Stoinis   17
67   Kagiso Rabada   17

------------------------------------------------------------------------------------------------------

In [53]:
max_avg = ipl['Avg'].max();
int_Avg = int(max_avg)
int_Avg

101

Q2. What is the highest average of a player in a season?

In [64]:
max_Avg2 = ipl['Avg'].max();
max_AvgtoInt = int(max_val2)
max_row = ipl[ipl['Avg'] == max_AvgtoInt]
highestAvgPlayer = max_row['Player']
print(highestAvgPlayer, "is the player with higest average  with ", max_AvgtoInt)

57    Deepak Hooda
Name: Player, dtype: object is the player with higest average  with  101

----------------------------------------------------------------------------------------------------------------------------

Q3 What is the average number of matches played by the players in a season?

----------------------------------------------------------------------------------------------------------------------------

Q4. Please check the correlation between all the features.

In [72]:
ipl.columns
ipl.dtypes

POS         int64
Player     object
Mat         int64
Inns        int64
NO          int64
Runs        int64
HS         object
Avg       float64
BF          int64
SR        float64
100         int64
50          int64
4s          int64
6s          int64
dtype: object

In [1]:
Ipl_upd= ipl.drop (['POS','Player'],axis=1)
plt.figure(figsize=(10,5))
sns.heatmap(Ipl_upd.corr(),cmap='YlOrBr')

NameError: name 'ipl' is not defined

In [ ]:
plt.figure(figsize=(10,8))
sns.heatmap(ipl.corr(),cmap='YlOrBr')

In [74]:
object_value = "83"
int_val = int(object_value)
int_val

83

----------------------------------------------------------------------------------------------